/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.g-1 {
  grid-column: span 1; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-1 {
      grid-column: span 4; } }

.g-2 {
  grid-column: span 2; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-2 {
      grid-column: span 4; } }

.g-3 {
  grid-column: span 3; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-3 {
      grid-column: span 4; } }

.g-4 {
  grid-column: span 4; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-4 {
      grid-column: span 4; } }

.g-5 {
  grid-column: span 5; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-5 {
      grid-column: span 6; } }

.g-6 {
  grid-column: span 6; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-6 {
      grid-column: span 6; } }

.g-7 {
  grid-column: span 7; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-7 {
      grid-column: span 6; } }

.g-8 {
  grid-column: span 8; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-8 {
      grid-column: span 6; } }

.g-9 {
  grid-column: span 9; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-9 {
      grid-column: span 12; } }

.g-10 {
  grid-column: span 10; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-10 {
      grid-column: span 12; } }

.g-11 {
  grid-column: span 11; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-11 {
      grid-column: span 12; } }

.g-12 {
  grid-column: span 12; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-12 {
      grid-column: span 12; } }

article {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  background-color: white;
  display: grid;
  grid-template-columns: 80% 20%;
  padding: 0; }
  @media (min-width: 200px) and (max-width: 991px) {
    article {
      display: block; } }

section {
  order: 1; }
  @media (min-width: 200px) and (max-width: 991px) {
    section {
      order: 2; } }

.hidden {
  display: none; }

nav {
  background-color: #e9eef0;
  color: black;
  font-size: 0.8rem;
  order: 2;
  padding: 10px; }
  @media (min-width: 200px) and (max-width: 991px) {
    nav {
      order: 1; } }
  @media (min-width: 200px) and (max-width: 991px) {
    nav {
      grid-template-columns: 1fr 1fr;
      display: grid;
      grid-template-rows: min-content; } }
  nav h3 {
    margin: 0;
    font-size: 1rem;
    padding: 15px; }
  nav mat-slide-toggle {
    margin: 15px; }
  nav h4 {
    padding: 15px;
    border-bottom: 1px solid #71919a; }

.movies, .loadingMoviesOpacity {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1%;
  margin-top: 30px !important; }
  @media (min-width: 200px) and (max-width: 991px) {
    .movies, .loadingMoviesOpacity {
      grid-template-columns: 1fr 1fr; } }
  .movies li, .loadingMoviesOpacity li {
    width: 100%;
    height: 150px;
    display: inline-table; }

.loading {
  margin: 15px;
  margin-left: 40%;
  padding: 15px; }

select {
  display: none; }

.expanded {
  grid-template-columns: 100% 0; }

.loadingMoviesOpacity {
  opacity: 0.34; }

/*# sourceMappingURL=movielist.component.css.map */
