@import "../../../assets/src/abstracts/abstract";


a{
    color:white;
    padding: 4px 6px;
    background-color: #0b3642;
    font-size:0.75em;
    border-radius: 4px;
    display: inline-table;
    margin-right: 4px;
    box-shadow: box-shadow('medium');
}