@import "../../../assets/src/abstracts/abstract";
article {
  box-shadow: box-shadow("medium");
  background-color: $color_2_base;
  margin: 15px;
}

.episodesToWatch{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3%;
  @include respond-between('phone','tablet'){
    margin: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  >*{
    box-sizing: border-box;
  }
}