<!--<article>-->
<!--<app-list-movies-compress title="Películas Populares" [movies]="popularmovies" [listSize]="6"></app-list-movies-compress>-->
<!--</article>-->
<!--<article>-->
    <!--<app-list-movies-compress title="Series populares" [movies]="populartvshows" [listSize]="6"></app-list-movies-compress>-->
<!--</article>-->
<!--<article>-->
<!--<app-list-movies-compress title="Peliculas En cartelera" [movies]="upcomingmovies" [listSize]="6"></app-list-movies-compress>-->
<!--</article>-->
<article style="width: 30%">
    <app-calendar [object]="object" [handler]="openDay" [filteredFunction]="filterEpisodesOnAir"></app-calendar>
</article>