<div class="navbar" [ngClass]="(show === true) ? 'show' : 'hidden'">
    <div class="close" (click)="show=false"><mat-icon>close</mat-icon></div>
    <h1><a routerLink="/"> TVesame</a></h1>
    <ul>
        <li *ngFor="let m of menuService.main">
            <a [routerLink]="m.link" routerLinkActive="active">
                <mat-icon>{{m.icon}}</mat-icon>
                {{m.name}}
            </a>
        </li>
    </ul>
    <h2><a routerLink="/user/profile"> {{userService.getUserName()}}</a></h2>
    <ul>
        <li *ngFor="let m of userMenu">
            <a [routerLink]="m.link" routerLinkActive="active">
                <mat-icon>{{m.icon}}</mat-icon>
                {{m.name}}
            </a>
        </li>
    </ul>

</div>
<div class="overlay" (click)="show=false" [hidden]="show!==true"></div>