@import "../../../../assets/src/abstracts/abstract";
section{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2%;
  grid-row-gap: 10px;
  @include respond-between('phone','tablet'){
    grid-template-columns: 100%;
    grid-column-gap: 0;
  }
  >*{
    box-sizing: border-box;
  }
}
article {
  box-shadow: box-shadow("medium");
  background-color: $color_2_base;
  padding:15px;
  margin: 0 !important;
  @include respond-between('phone','tablet'){
    padding:5px;
  }
  h1{
    small{
      font-size: 0.45em;
      float:right;
    }
  }
}

.episodesToWatch{
  display: grid;
  box-sizing: border-box;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 3%;
  @include respond-between('phone','tablet'){
    margin: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
  >*{
    box-sizing: border-box;
  }
}

.mainShows{
  display: grid;
  grid-column-gap: 2%;
  grid-template-areas: 'first first'
                      'first first'
                      '1 1';
  .col-0{
    grid-area: first;
  }

}

.episodes{
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr;
  @include respond-between('phone','tablet'){
    grid-template-columns: 1fr 1fr;
  }
}