<section>
    <article>
        <h1>Películas de moda
            <small><a [routerLink]="['/movies']"  [queryParams]="{sort: 'popularity'}">Ver mas</a> </small>
        </h1>
        <div class="mainShows">
            <div class="col-{{i}}"  *ngFor="let m of popularMovies|slice:0:5; let i = index">
                <app-movieitem [movie]="m" [mode]="'backdrop'"></app-movieitem>
            </div>

        </div>
    </article>
    <article>
        <h1>
        <small><a [routerLink]="['/calendar','mycalendar']">Ver mas</a> </small> </h1>
        <app-mycalendar></app-mycalendar>
    </article>
    <article>
        <h1>Mis capítulos pendientes
            <small><a [routerLink]="['/movies']"  [queryParams]="{sort: 'popularity'}">Ver mas</a> </small>
        </h1>
        <div class="episodes" *ngIf="pendingEpisodes">
            <div  *ngFor="let e of pendingEpisodes">
                <app-tvshowepisode [episode]="e" [mode]="'compact'" (episodeUpdate)="updatePendingEpisodes($event)"></app-tvshowepisode>
            </div>
        </div>
    </article>
    <article>
        <h1>Series en emisión hoy</h1>
        <div class="mainShows">
            <div class="col-{{j}}"  *ngFor="let m of playingTvshows; let j = index">
                <app-movieitem [movie]="m" [mode]="'backdrop'"></app-movieitem>
            </div>

        </div>
    </article>
    <article>
        <h1>Tus amigos</h1>
    </article>
</section>
