<div class="buttons">

<a mat-flat-button [routerLink]="[]" [attr.data-active]="getNavClass('popularity')"
         [queryParams]="{sort: 'popularity'}">Popular</a>
<a mat-flat-button  [routerLink]="[]" [queryParams]="getDateObject()"
         [attr.data-active]="getNavClass('release_date','first_air_date')">Novedades</a>
<a  mat-flat-button [routerLink]="[]"
          [attr.data-active]="getNavClass('rating.averageRating')" [queryParams]="{sort: 'rating.averageRating'}" >
    Mejores puntuados</a>
</div>