@import "../../../../assets/src/abstracts/abstract";

table {
  max-width: 100%;
  tr{
    th{
      padding:15px;
      text-align: center;
    }
    td{
    }
  }
}

.image{
  display: inline-block;
  width:20%;
  margin-right:20px;
  @include respond-between("phone","pc"){
    width:100%;
  }
}

.overview{
  font-size:0.8rem;
  display: inline-block;
  width: 70%;
  @include respond-between("phone","pc"){
    width:100%;
  }
}

mat-dialog-content{
  min-height: 100px;
}