<article>
    <div class="poster">
            <a class="pointer" (click)="handle(movie, $event);" *ngIf="hasCallback()===true">
                <app-tmdbimage image="{{movie[imagePath]}}"></app-tmdbimage>
            </a>
        <a routerLink='{{Movie.getUrl(movie)}}' *ngIf="hasCallback()===false">
            <app-tmdbimage image="{{movie[imagePath]}}"></app-tmdbimage>
        </a>
        <h2 class="rating">
            <app-rating [resource]="movie"></app-rating>
        </h2>
        <div class="tags">
            <app-follow [movie]="movie" [orientation]="orientation"></app-follow>
        </div>
    </div>

    <h1>   <a routerLink='{{Movie.getUrl(movie)}}'>{{movie|moviename}}
        <small>({{utilService.getReleaseDate(movie)}})</small></a>
    </h1>
</article>
