@import "../../../../assets/util";

section{
  box-shadow: box-shadow('medium');
  padding: 0!important;
  background: $color_2_base fixed 0 0;
  background-size: 100% auto;
  header{
    padding:0;
    height: 250px;
    position: relative;
    @include respond-between('phone','tablet'){
      height: 130px;
      background-position: 0 0;
      background-size: 100% auto;
    }
    .title{
      color:$color_2_base;
      text-shadow: 1px 1px 1px $color_1_base;
      position: absolute;
      bottom: 0;
      left:25%;
      @include respond-between('phone','tablet'){
        left:1%;
      }
      .stats-info{
        display: grid;
        grid-template-columns: 20% 1fr;
        .stats{
          display: grid;
          padding: 15px;
          grid-template-columns: 1fr 1fr 1fr 1fr;
        }
        .follow{
          font-size:1.4em;
        }
      }
      .info{
        font-size: 0.8em;
        width: 100%;
        padding:8px;
        background-color: rgba($color_1_base, 0.4);
      }

      a{
        margin: 0;
        display: inline-table;
        color: $color_2_base;
        small{
          opacity: 0.7;
          font-size:0.7em;
        }
        @include respond-between('phone','tablet'){
          h1{
            margin: 0;
            padding: 0;
            font-size: 1em;
          }
        }
      }
    }
  }

}
.navigation{
  nav{
    margin-left:25%;
    width: 74%;
    @include respond-between('phone','tablet'){
      margin-left:0;
      width: 100%;
    }
    a{
      background-color: tint($color_3_base,93);
    }
  }
}

.content{
  display: grid;
  grid-template-columns: 25% 75%;
  @include respond-between('phone','tablet'){
    display: block;
  }
  article{
    background-color: $color_2_base;
    p{
      font-size:0.9rem;
    }
    h1 small{
      font-size:0.9rem;
      color: tint($color_3_base,30);
      font-weight: normal;
      cursor:pointer;
    }
  }
  .sidebar{
    position: relative;
    color:$color_1_base;
    font-size: 0.9em;
    @include respond-between('phone', 'tablet') {
      max-height: 100px;
      overflow: hidden;
    }
    background-color: tint($color_3_base,93);
    &>ul{
      @include respond-between('phone','tablet'){
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      li{
        margin-bottom: 10px;
      }
    }
    h3{
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}