<h1>Calendario de series <mat-icon>tv</mat-icon></h1>
<section class="container">

    <article class="sidebar">
        <app-calendar [handler]="changeDate.bind(this)" [dayBgColorFn]="getDateBg.bind(this)"
                      [(calendar$)]="calendar$"></app-calendar>
    </article>
    <article class="content">
        <div *ngIf="loading===true">
            <app-spinner>Cargando series ...</app-spinner>
        </div>

        <div *ngFor="let event of events">
            <h2>{{event.date|date:'fullDate':undefined:'es'}}</h2>
            <div class="group">
                <app-tvshowepisode [episode]="m" mode="compact" *ngFor="let m of event.episodes"></app-tvshowepisode>
            </div>
        </div>
    </article>

</section>
