@import "../../../../assets/src/abstracts/abstract";
@import "../../../../assets/src/layouts/_grids.css";
article {
  box-shadow: box-shadow("medium");
  background-color: $color_2_base;
  display: grid;
  grid-template-columns: 80% 20%;
  @include respond-between('phone','tablet'){
    display: block;
  }
  padding: 0;
}
section{
  order:1;
  @include respond-between('phone','tablet'){
   order:2;
  }
}
.hidden{
  display: none;
}
nav{
  background-color: tint($color_3_base,91);
  color:$color_1_base;
  font-size: 0.8rem;
  order:2;
  @include respond-between('phone','tablet'){
    order:1;
  }
  padding:10px;
  @include respond-between('phone','tablet'){
    grid-template-columns: 1fr 1fr;
    display: grid;
    grid-template-rows: min-content;
  }
  h3{
    margin:0;
    font-size: 1rem;
    padding:15px;
  }
  mat-slide-toggle{
    margin:15px;
  }
  h4{
    padding:15px;
    border-bottom: 1px solid tint($color_3_base,41);
  }
}

.loading{
  margin:15px;
  margin-left:40%;
  padding:15px;
}
select{
  display: none;
}

.expanded{
  grid-template-columns: 100% 0;
}

.filterBlock{
}

.loadingmovie {
  width: 100%;
  height: 300px !important;
  background-color: shade($color_2_base, 10);
  margin-bottom: 10px;
}