@import "../../../../assets/util";

section{
  box-shadow: box-shadow('medium');
  padding: 0!important;
  background: $color_2_base fixed 0 0;
  background-size: 100% auto;
  header{
    padding:0;
    height: 250px;
    position: relative;
    @include respond-between('phone','tablet'){
      height: 130px;
      background-position: 0 0;
      background-size: 100% auto;
    }
      .puntuation{
        padding:15px;
        background-color: rgba($color_1_base,0.3);
        text-shadow: 1px 1px 1px $color_1_base;
        color:white;
        font-size: 1.5rem;
        width: fit-content;
        position: absolute;
        @include respond-between('phone','tablet'){
          padding:8px;
          font-size: 1.2rem;
        }
        right:0;
        small{
          font-size: 0.4em;
          display: block;
        }
      }
      .title{
        color:$color_2_base;
        text-shadow: 1px 1px 1px $color_1_base;
        position: absolute;
        bottom: 0;
        left:25%;
        @include respond-between('phone','tablet'){
          left:1%;
        }
        .info{
          font-size: 0.8em;
          width: fit-content;
          padding:8px;
          background-color: rgba($color_1_base, 0.4);
        }
        a{
          margin: 0;
          display: inline-table;
          color: $color_2_base;
          small{
            opacity: 0.7;
            font-size:0.7em;
          }
          @include respond-between('phone','tablet'){
            h1{
              margin: 0;
              padding: 0;
              font-size: 1em;
            }
          }
        }
      }
  }

}

.navigation{
  nav{
    margin-left:25%;
    @include respond-between('phone','tablet'){
      margin-left:0;
    }
    a{
      background-color: tint($color_3_base,93);
    }
  }
}

.images{
  ul{
    display: block;
    li{
      width: 24%;
      margin-right:1%;
      @include respond-between('phone','tablet'){
        width: 48%;
      }
      box-sizing: border-box;
      display: inline-table;
    }
  }
}

.main{
  padding: 0;
  height: auto
;
}

.content{
  display: grid;
  grid-template-columns: 25% 75%;
  @include respond-between('phone','tablet'){
    display: block;
  }
  article{
    background-color: $color_2_base;
    p{
      font-size:0.9rem;
    }
    h1 small{
      font-size:0.9rem;
      color: tint($color_3_base,30);
      font-weight: normal;
      cursor:pointer;
    }
  }
  .sidebar{
    position: relative;
    color:$color_1_base;
    font-size: 0.9em;
    @include respond-between('phone', 'tablet') {
      max-height: 100px;
      overflow: hidden;
    }
    background-color: tint($color_3_base,93);
    &>ul{
      @include respond-between('phone','tablet'){
        display: grid;
        grid-template-columns: 1fr 1fr;
      }
      li{
        margin-bottom: 10px;
      }
    }
    h3{
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}
.seasonsList{
  li{
    cursor:pointer;
    padding:15px;
    background-color: tint($color_3_base,91);
    display: inline-table;
    font-size: 0.9rem;
    margin-right: 1%;
    width: 15%;
    margin-bottom: 1%;
    box-sizing: border-box;
    @include respond-between('phone','tablet'){
      display: block;
      width: 100%;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

a{
  cursor: pointer;
}

.seasonsInfo{
  margin-bottom: 0;
  font-size:0.9rem;
  @include respond-between('phone','tablet'){
    max-height: 250px;
    overflow-y: scroll;
  }
  li{
    margin-bottom: 0!important;
    a{
      color:tint($color_1_base,20);
      display: block;
      padding:15px;
      border-bottom: 1px solid rgba($color_1_base,0.15);
      &:hover{
        background-color: rgba($color_2_base,0.4);
      }
    }
    .active{
      background-color: rgba($color_2_base,0.8);
      &:hover{
        background-color: rgba($color_2_base,0.8);
      }
    }
  }
}

.sidebarUtils{
  li{
    a{
      padding:10px;
      color:tint($color_1_base,20);
    }
  }
}

.episodeList{
  margin:20px;
  display: block;
  @include respond-between('phone','tablet'){
    margin: 0;
  }
  li{
    margin-bottom: 10px;
  }
}
.filterEpisodes{
  padding:25px;
  border:1px solid tint($color_3_base,60);
  margin-bottom:20px;
  font-size:0.9rem;
  label{
  }
}
article{
  @include respond-between('phone','tablet'){
    padding: 5px 5px 10px;
  }
}
.creators{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
  @include respond-between('phone', 'tablet') {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .creator{
    h4{
      margin:0;
      padding: 0;
    }
    small{
      font-size:0.85em;
      color: tint($color_1_base, 50);
    }
    .creator-image{
      width:50%;
    }
  }
}


.follow {
  display: inline-block;;
  margin-left:5px;
  font-size:1rem;
}

.showInfo {
  position: absolute;;
  right: 15px;
  top: 15px;
  display: none;
  @include respond-between('phone', 'tablet') {
    display: block;
  }
}

.show_side_bar {
  max-height: initial !important;
}

.recommendedShows{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
}

.cast{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1%;
  @include respond-between('phone', 'tablet') {
    grid-template-columns: 1fr 1fr;
  }
}

.production_companie{
  .logo{
    width:150px!important;
    max-width: 150px!important;
  }
}


.menu{
  li{
    a{
      padding:15px;
      color:$color_1_base;
      display: block;
      border-bottom: 1px solid tint($color_4_base,70);
      transition: 0.055s all ease-in-out;
      &:hover{
        border-radius: 4pt;
        background-color:  tint($color_3_base,80);
      }
    }
    .active{
      border-radius: 4pt;
      background-color:  tint($color_3_base,80);
    }
  }
}