<article [class]="(showFilters===false) ? 'expanded': ''">
  <nav  [class]="(showFilters===false) ? 'hidden' : ''">
    <div class="filterBlock">
    <h3>Ordenar </h3>
    <mat-form-field>
      <mat-select id="orderBy" [(ngModel)]="params.sort" placeholder="Ordenar por.." (selectionChange)="filterMovies()">
        <mat-option value="first_air_date">Fecha de estreno ⬇</mat-option>
        <mat-option value="duration">Duración ⬇</mat-option>
        <mat-option value="rating.averageRating">Puntuación ⬇</mat-option>
        <mat-option value="popularity">Popularidad ⬇</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="filterBlock">
    <h3>Géneros</h3>
    <mat-form-field>
      <mat-select placeholder="Géneros" [(ngModel)]="params.genres" (selectionChange)="filterMovies()"  multiple>
        <mat-option value="{{genre.id}}" *ngFor="let genre of configService.getGenres('tvshow')">{{genre.name}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
    <div class="filterBlock">
    <h3>Otros</h3>
    <mat-form-field>
      <input type="number" [(ngModel)]="params.maxseasons" (change)="filterMovies()" matInput placeholder="Máximo número de temporadas"/>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Duración" [(ngModel)]="params.duration" (selectionChange)="filterMovies()">
        <mat-option [value]="undefined">Todas</mat-option>
        <mat-option value="<30"> Corta Duración (<30 min)</mat-option>
        <mat-option value=">30;<=60">Media Duración (<60 min)</mat-option>
        <mat-option value=">60"> Larga Duración (+60 min)</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-slide-toggle [(ngModel)]="params.famous" (change)="changeFamous()"
                      [checked]="this.params.famous">Solo series más conocidas</mat-slide-toggle>
    </div>
    <div class="filterBlock">
    <h3>Año de lanzamiento</h3>
    <mat-form-field>
      <mat-select placeholder="Año exacto" [(ngModel)]="params.year" (selectionChange)="filterMovies()" multiple>
        <mat-option [value]="v" *ngFor="let v of range(1900,'currentYear',true)">{{v}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Posterior a" [(ngModel)]="params.yearmin" (selectionChange)="filterMovies()" >
        <mat-option [value]="undefined">-</mat-option>
        <mat-option [value]="v" *ngFor="let v of range(1900,'currentYear',true)">{{v}}</mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field>
      <mat-select placeholder="Anterior a" [(ngModel)]="params.yearmax" (selectionChange)="filterMovies()" >
        <mat-option [value]="undefined">-</mat-option>
        <mat-option [value]="v" *ngFor="let v of range(1900,'currentYear',true)">{{v}}</mat-option>
      </mat-select>
    </mat-form-field>
    </div>
  </nav>
<section>
  <h2>Series <button style="float:right" mat-flat-button="" (click)="showFilters=!showFilters">Filtrar</button></h2>
  <app-listnavbar [(params)]="params"></app-listnavbar>
  <ul class="movies" infiniteScroll [infiniteScrollDistance]="0.3" [infiniteScrollThrottle]="500" (scrolled)="getMovies()"
      [class]="changiParams === true ? 'loadingMoviesOpacity' : 'movies'">
    <li *ngFor="let movie of movies" >
      <app-movieitem [movie]="movie"></app-movieitem>
    </li>
  </ul>
  <h4 *ngIf="movies.length === 0" [hidden]="loadingMovies!==false"> No hay resultados disponibles</h4>
  <div class="loading" [hidden]="loadingMovies===false"> <app-spinner></app-spinner></div>
  <div class="loading"  [hidden]="loadingMovies!==false"><button  (click)="getMovies()" mat-raised-button>Cargar más</button> </div>
</section>

</article>