<div class="content">
<article class="sidebar">
    <ng-container *ngIf="tvshow.credits.crew.length>0">
    <h2>Creadores</h2>
    <div class="creators">
        <div class="creator" *ngFor="let creator of tvshow.credits?.crew|slice:0:creatorsShown">
            <h4>{{creator.name}}</h4>
            <small>{{getJob(creator)}}</small>
            <div class="creator-image">
                <app-tmdbimage image="{{creator.profile_path}}"></app-tmdbimage>
            </div>
        </div>
    </div>
    </ng-container>
    <button mat-flat-button="" [routerLink]="['credits']">Mostrar todos</button>
    <h2>Series Recomendadas</h2>
    <ng-container *ngIf="!recommendedTvshows">
        Cargando series recomendadas...
        <div><app-spinner></app-spinner></div>
    </ng-container>
    <app-list-movies-compress [movies]="recommendedTvshows" [listSize]="6" [class]="'g-4'"></app-list-movies-compress>
    <h2>Enlaces</h2>
    <a target="_blank" href="https://imdb.com/title/{{tvshow._id}}">
        <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/IMDb-icon.png" width="50"/>
    </a>
</article>
<article>
    <h2>Sinopsis</h2>
    <p>{{tvshow.overview}}</p>
    <h2 *ngIf="getTrailer(tvshow)"></h2>
    <app-youtube [id]="getTrailer(tvshow)"></app-youtube>
</article>
</div>