<div class="content">
    <article class="sidebar">
        <h2>Fecha estreno</h2>
        {{selectedSeason.air_date}}
        <h2>Puntuación</h2>
        {{getSeasonAverageRating()}} <i class="fa fa-star"></i>
        <div><small>{{getTotalNumVotes()}} votos totales</small></div>
        <h2>Temporadas</h2>
        <ul class="seasonsInfo">
            <li *ngFor="let s of tvshow.seasons">
                <ng-container *ngIf="s.episodes?.length>0">
                <a [routerLink]="['/tvshow',tvshow._id,'season']"
                   [queryParams]="{'number': s.season_number }"
                   [queryParamsHandling]="'merge'" routerLinkActive="active">{{s.name}}</a>
                </ng-container>
            </li>

        </ul>
        <h2>Otros</h2>
        <ng-container *ngIf="selectedSeason.credits.crew.length>0">
            <h2>Creadores</h2>
            <div class="creators" >
                <div class="creator" *ngFor="let creator of selectedSeason.credits?.crew|slice:0:creatorsShown">
                    <h4>{{creator.name}}</h4>
                    <small>{{getJob(creator)}}</small>
                    <div class="creator-image">
                        <app-tmdbimage image="{{creator.profile_path}}"></app-tmdbimage>
                    </div>
                </div>
            </div>
        </ng-container>
        <button mat-flat-button="" (click)="creatorsShown=selectedSeason.credits?.crew.length">Mostrar todos</button>
        <ul class="sidebarUtils">
            <li><a [routerLink]="['/tvshow/episodes']" >Lista de todos los episodios</a></li>
        </ul>
    </article>
    <article>
        <h1>{{selectedSeason.name}}</h1>
        <ng-container *ngIf="selectedSeason.overview">
        <h2>Sinopsis</h2>
        <app-readmore [text]="selectedSeason.overview"></app-readmore>
        </ng-container>
        <h1>Episodios <small (click)="showFilter=!showFilter">Más</small></h1>
        <div [hidden]="showFilter!=true" class="filterEpisodes">
            <h2>Ordenar</h2>
            <mat-form-field style="margin-right: 10px;">
                <mat-select placeholder="Ordenar por" (selectionChange)="order()" [(value)]="orderType">
                    <mat-option *ngFor="let option of options" [value]="option.value">
                        {{option.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <ul class="episodeList">
            <li *ngFor="let e of selectedSeason.episodes">
             <app-tvshowepisode [episode]="e" [alternativePosterPath]="tvshow.backdrop_path"></app-tvshowepisode>
            </li>
        </ul>
    </article>
</div>
