@import "../../../assets/src/abstracts/abstract";

section{
  box-shadow: box-shadow('medium');
  background-color: $color_2_base;
  padding: 0!important;
  header{
    padding:0;
    background-size:  100%;
    height: 250px;
    background-attachment: fixed;
    position: relative;;
    @include respond-between('phone','tablet'){
      height: 150px;
      background-position: 0 0;
      background-size: 100% auto;
    }
    nav{
      position: absolute;
      bottom:0;
      margin: 0;
      padding: 0;
      width: 74%;
      left:25%;
      @include respond-between('phone','tablet'){
        padding-left:10px;
        left:0;
      }
      ul{
        li{
          display: inline-block;
          margin-right: 2%;
          a{
            background-color: rgba(255,255,255,0.5);
            padding:8px;
            text-shadow: 1px 1px 1px $color_1_base;
            font-size:0.9rem;
            color: $color_2_base;
            display:block;
          }
          .active{
            background-color: rgba(255,255,255,1);
            color:$color_1_base;
            text-shadow: none;
          }
        }
      }
      h1{
        font-size: 2rem;
        color:$color_2_base;
        text-shadow: 1px 1px 1px $color_1_base;
        margin: 0;
        display: inline-table;
        small{
          opacity: 0.7;
          font-size:0.7em;
        }
      }
    }
  }

}
.images{
  ul{
    li{
      width: 20%;
      margin-right:10px;
      box-sizing: border-box;
      display: inline-table;
    }
  }
}

.content{
  display: grid;
  grid-template-columns: 25% 70%;
  @include respond-between('phone','tablet'){
    display: block;
  }
  article{
    p{
      font-size:0.9rem;
    }
    h1 small{
      font-size:0.9rem;
      color: tint($color_3_base,30);
      font-weight: normal;
      cursor:pointer;
    }
  }
  .sidebar{
    background-color: tint($color_3_base,91);
    color:$color_1_base;
    font-size: 0.9em;
    ul{
      li{
        margin-bottom: 10px;
      }
    }
    h3{
      font-size: 1em;
      margin: 0;
      padding: 0;
    }
  }
}
.seasonsList{
  li{
    cursor:pointer;
    padding:15px;
    background-color: tint($color_3_base,91);
    display: inline-table;
    font-size: 0.9rem;
    margin-right: 1%;
    width: 15%;
    margin-bottom: 1%;
    box-sizing: border-box;
    @include respond-between('phone','tablet'){
      display: block;
      width: 100%;
      margin-right: 0;
      max-width: 100%;
    }
  }
}

a{
  cursor: pointer;
}

.seasonsInfo{
  margin-bottom: 0;
  font-size:0.9rem;
  @include respond-between('phone','tablet'){
    max-height: 250px;
    overflow-y: scroll;
  }
  li{
    margin-bottom: 0!important;
    a{
      color:tint($color_1_base,20);
      display: block;
      padding:15px;
      border-bottom: 1px solid rgba($color_1_base,0.15);
      &:hover{
        background-color: rgba($color_2_base,0.4);
      }
    }
    .active{
      background-color: rgba($color_2_base,0.8);
      &:hover{
        background-color: rgba($color_2_base,0.8);
      }
    }
  }
}

.sidebarUtils{
  li{
    a{
      padding:10px;
      color:tint($color_1_base,20);
    }
  }
}

.episodeList{
  margin:20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  @include respond-between('phone','tablet'){
    margin: 0;
    grid-template-columns: 1fr;
    grid-row-gap: 10px;
  }
}
.filterEpisodes{
  padding:25px;
  border:1px solid tint($color_3_base,60);
  margin-bottom:20px;
  font-size:0.9rem;
  label{
  }
}

.puntuation{
  position: absolute;
  right:0;
  padding:15px;
  background-color: rgba($color_1_base,0.3);
  text-shadow: 1px 1px 1px $color_1_base;
  color:white;
  font-size: 1.7rem;
  small{
    font-size: 0.4em;
    display: block;
  }
}