/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
.only-mobile {
  display: none; }
  @media (min-width: 200px) and (max-width: 991px) {
    .only-mobile {
      display: block; } }

section {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 0 !important;
  background: white fixed 0 0;
  background-size: 100% auto; }
  section header {
    padding: 0;
    height: 250px;
    position: relative; }
    @media (min-width: 200px) and (max-width: 991px) {
      section header {
        height: 130px;
        background-position: 0 0;
        background-size: 100% auto; } }
    section header .puntuation {
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.3);
      text-shadow: 1px 1px 1px black;
      color: white;
      font-size: 1.5rem;
      width: fit-content;
      position: absolute;
      right: 0; }
      @media (min-width: 200px) and (max-width: 991px) {
        section header .puntuation {
          padding: 8px;
          font-size: 1.2rem; } }
      section header .puntuation small {
        font-size: 0.4em;
        display: block; }
    section header .title {
      color: white;
      text-shadow: 1px 1px 1px black;
      position: absolute;
      bottom: 0;
      left: 25%; }
      @media (min-width: 200px) and (max-width: 991px) {
        section header .title {
          left: 1%; } }
      section header .title .info {
        font-size: 0.8em;
        width: fit-content;
        padding: 8px;
        background-color: rgba(0, 0, 0, 0.4); }
      section header .title a {
        margin: 0;
        display: inline-table;
        color: white; }
        section header .title a small {
          opacity: 0.7;
          font-size: 0.7em; }
        @media (min-width: 200px) and (max-width: 991px) {
          section header .title a h1 {
            margin: 0;
            padding: 0;
            font-size: 1em; } }

.navigation nav {
  margin-left: 25%; }
  @media (min-width: 200px) and (max-width: 991px) {
    .navigation nav {
      margin-left: 0; } }
  .navigation nav a {
    background-color: #eef2f3; }

.images ul {
  display: block; }
  .images ul li {
    width: 24%;
    margin-right: 1%;
    box-sizing: border-box;
    display: inline-table; }
    @media (min-width: 200px) and (max-width: 991px) {
      .images ul li {
        width: 48%; } }

.main {
  padding: 0; }

.content {
  display: grid;
  grid-template-columns: 25% 75%; }
  @media (min-width: 200px) and (max-width: 991px) {
    .content {
      display: block; } }
  .content article {
    background-color: white; }
    .content article p {
      font-size: 0.9rem; }
    .content article h1 small {
      font-size: 0.9rem;
      color: #567c87;
      font-weight: normal;
      cursor: pointer; }
  .content .sidebar {
    color: black;
    font-size: 0.9em;
    background-color: #eef2f3; }
    @media (min-width: 200px) and (max-width: 991px) {
      .content .sidebar > ul {
        display: grid;
        grid-template-columns: 1fr 1fr; } }
    .content .sidebar > ul li {
      margin-bottom: 10px; }
    .content .sidebar h3 {
      font-size: 1em;
      margin: 0;
      padding: 0; }

.seasonsList li {
  cursor: pointer;
  padding: 15px;
  background-color: #e9eef0;
  display: inline-table;
  font-size: 0.9rem;
  margin-right: 1%;
  width: 15%;
  margin-bottom: 1%;
  box-sizing: border-box; }
  @media (min-width: 200px) and (max-width: 991px) {
    .seasonsList li {
      display: block;
      width: 100%;
      margin-right: 0;
      max-width: 100%; } }

a {
  cursor: pointer; }

.seasonsInfo {
  margin-bottom: 0;
  font-size: 0.9rem; }
  @media (min-width: 200px) and (max-width: 991px) {
    .seasonsInfo {
      max-height: 250px;
      overflow-y: scroll; } }
  .seasonsInfo li {
    margin-bottom: 0 !important; }
    .seasonsInfo li a {
      color: #333333;
      display: block;
      padding: 15px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.15); }
      .seasonsInfo li a:hover {
        background-color: rgba(255, 255, 255, 0.4); }
    .seasonsInfo li .active {
      background-color: rgba(255, 255, 255, 0.8); }
      .seasonsInfo li .active:hover {
        background-color: rgba(255, 255, 255, 0.8); }

.sidebarUtils li a {
  padding: 10px;
  color: #333333; }

.episodeList {
  margin: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  grid-row-gap: 10px; }
  @media (min-width: 200px) and (max-width: 991px) {
    .episodeList {
      margin: 0;
      grid-template-columns: 1fr;
      grid-row-gap: 10px; } }

.filterEpisodes {
  padding: 25px;
  border: 1px solid #9fb4ba;
  margin-bottom: 20px;
  font-size: 0.9rem; }

@media (min-width: 200px) and (max-width: 991px) {
  article {
    padding: 1px; } }

.creators {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%; }
  .creators .creator h4 {
    margin: 0;
    padding: 0; }
  .creators .creator small {
    font-size: 0.85em;
    color: gray; }
  .creators .creator .creator-image {
    width: 50%; }

.follow {
  display: inline-block;
  margin-left: 5px;
  font-size: 1rem; }

/*# sourceMappingURL=tvshowpage.component.css.map */
