@import "../../../../assets/src/abstracts/abstract";

.person {
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  .person-image {
    max-width: 75%;
    box-sizing: border-box;
  }
  .person-name {
    width: 75%;
    position: absolute;
    bottom:  0;
    font-weight: bold;
    left: 0;
    background-color: rgba($color_1_base, 0.5);
    color: $color_2_base;
    font-size: 0.8em;
    box-sizing: border-box;
    padding: 10px;
  }
  .person-rol {
    font-size: 0.8em;
    padding: 8px;
    border-radius: 4pt;
    position: absolute;
    font-weight: bold;
    left: 5px;
    top: 5px;
    background-color: rgba($color_1_base, 0.55);
    color: $color_2_base;
  }
}

.example-viewport {
  height: 200px;
  width: 200px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

.extras{
  display: block;;
  font-size:0.9em;
  margin:0 auto;
  padding:10px;
  color:tint($color_1_base, 40);
}