<span class="extras" *ngIf="getExtras()">Cómo {{getExtras()}}</span>
<a routerLink="/person/{{person?.id}}"  *ngIf="!hasCallback()">
    <div class="person">
        <div class="person-image">
            <app-tmdbimage [image]="person?.profile_path"></app-tmdbimage>
        </div>
        <div class="person-name">
            {{person?.name}}
        </div>
        <div class="person-rol" *ngIf="getKnownAs()">
            {{getKnownAs()}}
        </div>
    </div>
</a>
<a class="pointer" (click)="handle(person, $event)" *ngIf="hasCallback()">
    <div class="person">
        <div class="person-image">
            <app-tmdbimage [image]="person?.profile_path"></app-tmdbimage>
        </div>
        <div class="person-name">
            {{person?.name}}
        </div>
        <div class="person-rol" *ngIf="getKnownAs()">
            {{getKnownAs()}}
        </div>
    </div>
</a>