@import "../../../../assets/src/abstracts/abstract";

.searchContainer {
  margin-right: 20px;
  display: grid;
  grid-template-columns: 1fr min-content;
  grid-column-gap: 0;
  position: relative;
  input[type=search] {
    text-rendering: auto;
    background-color:rgba($color_2_base,0.9);
    margin: 0;
    font-size: 0.7em!important;
    width: 100%;
    padding: 0 16px;
    height: 42px;
    border-radius: 4px 0 0 4px;
    transition: 0.2s all ease-in-out;
    &:focus{
      background-color:rgba($color_2_base,1);
    }

  }
  .button{
    margin: 0!important;
    font-size: 0.7em!important;
    padding: 0 16px;
    background-color: tint($color_4_base,20);
    cursor:pointer;
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    transition: all .4s ease;
    border-radius: 0 4px 4px 0;
    @include respond-between('phone','tablet'){
      display: none!important;
    }
    &:active{
      background-color: tint($color_4_base,10);
    }
    &:disabled{
      background-color: tint($color_1_base,50);
      cursor:default;
    }
  }
}
.search-list{
  position: absolute;
  box-shadow: box-shadow('medium');
  z-index:2;
  left:0;
  top:100%;
  background-color: $color_2_base;
  color:$color_1_base;
  width: 100%;
  &>span{
    padding:10px;
    font-size:0.8rem;
    display: block;
  }
  ul{
    max-height: 300px;
    overflow: auto;
    li{
      a{
        padding:10px;
        display: grid;
        grid-template-columns: max-content auto;
        grid-gap:20px;
        color:$color_1_base;
        font-size:0.8rem;
        transition: 0.2s all ease-in-out;
        &:hover{
          @extend .selected;
        }
        h1{
          font-size: 0.8rem;
        }
        small{
          color:shade($color_5_base,10);
          display: block;
        }
      }
      .selected{
        background-color: tint($color_1_base, 90%);
        &:hover{
          background-color: tint($color_1_base, 90%);
        }
      }
    }
  }
}
.more-results{
  padding:10px;
  font-size:0.9rem;
  font-weight: bold;
}

.imageWrapper{
  width: 50px;
  height: 50px;
}

[hidden]{
  display: none!important;
}
.withBorder{
    border:1px solid tint($color_1_base,85);
}

.sub-menu {
  margin: 0 auto;
  font-size: 0.8em;
  font-weight: bold;
  background-color: $color_4_base;
  color: $color_2_base;
  padding: 15px;
}

.mobile-button{
  margin: 0!important;
  font-size: 0.9em!important;
  padding: 0 16px;
  height: 43px;
  display: none!important;
  background: none;
  cursor:pointer;
  color: $color_2_base;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  transition: all .4s ease;
  @include respond-between('phone','tablet'){
    display: inline-table!important;
  }
  &:active{
    background-color: tint($color_4_base,10);
  }
  &:disabled{
    background-color: tint($color_1_base,50);
    cursor:default;
  }
}

.container{
  @include respond-between('phone','tablet'){
    display: grid;
    grid-template-columns: min-content auto;
  }

}
.hide{
  @include respond-between('phone','tablet'){
    display: none!important;
  }
}