<div class="container">
<button class="mobile-button" (click)="openSearchBox()">
    <mat-icon>search</mat-icon></button>
<div class="searchContainer" [class]="(opened === true) ? 'searchContainer' : 'searchContainer hide'">
<input type="search" [class]="wclass" (focus)="focused=true" (blur)="focused=false" placeholder="Buscar películas, series o personas..."
       [formControl]="searchControl" #searchText (keyup.enter)="searchBox()"/>
<button class="button" (click)="searchBox()" [disabled]="searchText.value.length===0">
    <mat-icon>search</mat-icon>
</button>
<div (mouseleave)="showSearchList=false" (mouseover)="showSearchList=true" (click)="showSearchList=true"
     class="search-list"
     [hidden]="(results.length===0 || showSearchList===false) && focused===false">
    <span [hidden]="searched || searchControl.value ==='' || results.length!==0 || !searchControl.value">
       <app-spinner></app-spinner>
    </span>
    <span [hidden]="!searched || results.length!==0  || !searchControl.value">
        No se han encontrado resultados
    </span>
    <ul>
        <li *ngFor="let m of results">
            <a routerLink="{{Movie.getUrl(m)}}">
                <div class="imageWrapper">
                    <app-tmdbimage image="{{m.poster_path}}" size="w92"></app-tmdbimage>
                </div>
                <h1>{{m | moviename}}
                    <small>{{m.type|typeOfShow}}</small>
                </h1>
            </a></li>
    </ul>
        <div *ngIf="results.length>0" class="more-results"><a routerLink="/search" [queryParams]="{query: searchControl.value}">Más
            resultados</a></div>
</div>
</div>
</div>