@import "../../../../assets/src/abstracts/abstract";

:host{
    margin:auto;
}
.cssload-jumping{
    margin: auto;
}

.cssload-jumping, .cssload-jumping * {
    box-sizing: border-box;
}

.cssload-jumping span {
    display: inline-block;
    height: 15px;
    width: 15px;
    background: tint($color_3_base, 50);
    border-radius: 487px;
    background-clip: padding-box;
}

.cssload-jumping span:nth-child(1) {
    animation: scale 1.15s 0.12s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(2) {
    animation: scale 1.15s 0.23s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(3) {
    animation: scale 1.15s 0.35s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(4) {
    animation: scale 1.15s 0.46s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(5) {
    animation: scale 1.15s 0.58s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
.cssload-jumping span:nth-child(6) {
    animation: scale 1.15s 0.64s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(6) {
    animation: scale 1.15s 0.72s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(7) {
    animation: scale 1.15s 0.84s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(8) {
    animation: scale 1.15s 0.96s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(9) {
    animation: scale 1.15s 0.96s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(10) {
    animation: scale 1.15s 1.08s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

.cssload-jumping span:nth-child(11) {
    animation: scale 1.15s 1.20s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

@keyframes scale {
    0% {
        transform: scale(0);
    }
    25% {
        transform: scale(0.9, 0.9);
        background: tint($color_3_base, 80);
    }
    50% {
        transform: scale(1, 1);
        margin: 0 3px;
        background: tint($color_3_base, 50);
    }
    100% {
        transform: scale(0);
    }
}

@-o-keyframes scale {
    0% {
        -o-transform: scale(0);
    }
    25% {
        -o-transform: scale(0.9, 0.9);
        background: rgb(147,225,215);
    }
    50% {
        -o-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -o-transform: scale(0);
    }
}

@-ms-keyframes scale {
    0% {
        -ms-transform: scale(0);
    }
    25% {
        -ms-transform: scale(0.9, 0.9);
        background: rgb(147,225,215);
    }
    50% {
        -ms-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -ms-transform: scale(0);
    }
}

@-webkit-keyframes scale {
    0% {
        -webkit-transform: scale(0);
    }
    25% {
        -webkit-transform: scale(0.9, 0.9);
        background: rgb(147,225,215);
    }
    50% {
        -webkit-transform: scale(1, 1);
        margin: 0 3px;
        background: rgb(47,172,155);
    }
    100% {
        -webkit-transform: scale(0);
    }
}

@-moz-keyframes scale {
    0% {
        -moz-transform: scale(0);
    }
    25% {
        -moz-transform: scale(0.9, 0.9);
    }
}

.white{
    background-color: shade($color_2_base,5);
}

.loadBars {
    width: 50px;
    height: 40px;
    text-align: center;
    margin:0 auto;
    font-size: 10px;
}

.loadBars > div {
    background-color: rgba($color_2_base,0.9);
    height: 100%;
    width: 6px;
    display: inline-block;
    margin-right:2px;
    animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

.loadBars .rect2 {
    animation-delay: -1.1s;
}

.loadBars .rect3 {
    animation-delay: -1.0s;
}

.loadBars .rect4 {
    animation-delay: -0.9s;
}

.loadBars .rect5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes sk-stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
    0%, 40%, 100% {
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    }  20% {
           transform: scaleY(1.0);
           -webkit-transform: scaleY(1.0);
       }
}