@import "../../../../assets/src/abstracts/placeholders";
@import "../../../../assets/src/abstracts/functions";
@import "../../../../assets/src/abstracts/variables";
@import "../../../../assets/src/layouts/_grids.css";
@import "../../../../assets/src/abstracts/mixins";
%shadow-text-effect{
  text-shadow: 2px 2px 18px shade($color_4_base,80);
  transition: 0.15s all ease-in-out;
  &:hover{
    text-shadow: 2px 2px 20px shade($color_2_base,10);
  }
}
nav{
  a{
  }
}

.header-container-mobile{
  @extend .header-container;
  display: block!important;
  a{
    padding:20px;
    margin:0 auto;
  }
  .first-row{
    display: grid;
    grid-template-columns: min-content 1fr auto;
    a{
      padding:5px;
    }
  }
  .second-row{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
}

.right-menu{
  display:grid;
  grid-template-columns:  auto auto;
}

.header-container {
  display: grid;
  grid-template-columns: min-content min-content auto auto;
  max-width: 100%;
  margin: 0;
  color: $color_2_base;
  align-items: center;
}

.menu-button{
  @extend %shadow-text-effect;
  width: 100%;
  padding: 12px 24px;
  display: inline-block;
  font-size:1.4em;
  cursor: pointer;
  margin:0 auto;
  
}

a{
  @extend %shadow-text-effect;
  color:inherit;
  margin: 0;
  padding: 20px;
  display: inline-table;
  &:hover{
    border-radius: 4px;
    background-color: rgba($color_1_base,0.2);
  }
  a {
    text-shadow: none;
    display: block;
  }
}
.active{
  border-radius: 4px;
  background-color: rgba($color_1_base,0.2);
}


h1{
  @extend %shadow-text-effect;
  display: inline-block;
  font-size: 1.5em;
  margin: 0;
}
.menu-icon{
  font-size:1.2em;
  margin:15px;
  cursor: pointer;
}

.pointer {
  cursor: pointer;
}

.floatMenu-link {
  text-shadow: none;
  display: block;
}

.only-mobile{
  display: none!important;
  @include respond-between('phone','tablet'){
    display: inherit!important;;
  }
}
.only-pc{
  @include respond-between('phone','tablet'){
    display: none;
  }
}