@import "../../../../assets/src/abstracts/abstract";
@import "../../../../assets/src/layouts/_grids.css";

.placeholders-items {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-column-gap: 1%;
  @include respond-between('phone', 'tablet') {
    grid-template-columns: 1fr 1fr;
  }
  margin-top: 30px !important;
  .placeholders-item {
    width: 100%;
    height: 150px;
    background-color: shade($color_2_base, 10);
    margin-bottom: 10px;
  }
}