.recommendedShows {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 5%;
  div {
    box-sizing: border-box;;
  }
}

.cast {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-column-gap: 2%;
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-template-columns: auto auto;
}