<div class="comment">
<div class="comment-info">
  <a [routerLink]="['user',comment.author._id]"><mat-icon>person</mat-icon> {{comment.author.username}}</a>
  - <small>{{comment.date|timeago}}</small>
</div>
<div class="comment-text" markdown>
  {{comment.text}}
</div>
<div class="comment-toolbar">
  <a (click)="showReply=!showReply">Contestar <mat-icon>reply</mat-icon> </a>
</div>
    <div class="comment_replybox" *ngIf="showReply===true">
        <form name="add_comment_{{id}}" #loginForm="ngForm" (ngSubmit)="post(model)">
            <div class="textarea">
                <td-text-editor name="text" [(ngModel)]="model.text" [options]="options" ></td-text-editor>
            </div>
            <button mat-flat-button>
                <app-spinner *ngIf="loading===true"></app-spinner>
                <ng-container *ngIf="loading===false">
                    Comentar
                </ng-container>
            </button>
        </form>
    </div>
    <div *ngFor="let comment of getCurrentComments()">
        <app-comment [comment]="comment"  [comments]="getChildrens(comment)"></app-comment>
    </div>
</div>