@import "../../../../assets/src/abstracts/abstract";

.comment{
  border:1px solid shade($color_2_base, 10);
  padding:10px;
  font-size:0.8rem;
  margin-left:1%;
  margin-top:10px;
  .comment-info{
    font-size:0.9em;
    small{
      color: shade($color_2_base, 20);
      font-size:0.8em;
    }
  }
  .comment-toolbar{
    font-size:0.9em;
    color: shade($color_2_base, 15);
    font-weight: bold;
    a{
      cursor: pointer;
    }
  }
  .comment_replybox{
    form{
      border:0;
      padding:5px;
      .textarea{
        width:80%;
      }
    }

  }
  a{
    color: tint($color_4_base,30);
    font-weight: bold;
    &:hover{
      text-decoration: underline;
    }
  }
}