<form [formGroup]="commentForm" (ngSubmit)="post(commentForm.value, resource)">
    <h3>Escribe un comentario:</h3>
    <div class="textarea">
        <td-text-editor formControlName="text" [options]="options" minlength="3" maxlength="10000"
                        required=""></td-text-editor>
    </div>
    {{commentForm.errors}}
    <button mat-flat-button [disabled]="!commentForm.valid">
        <app-spinner *ngIf="loading===true" type="bars"></app-spinner>
        <ng-container *ngIf="loading===false">
            Comentar
        </ng-container>
    </button>
</form>
<h3>Comentarios</h3>
<a [routerLink]="[]" [queryParams]="{comment_id: null}" *ngIf="seeComment!==null">Volver a todos los comentarios</a>
<div *ngFor="let comment of getCurrentComments(resource)" infiniteScroll [infiniteScrollDistance]="0.1"
     [infiniteScrollThrottle]="200" (scrolled)="getMoreComments()">
    <app-comment [comment]="comment" [comments]="comments" [depth]="depth"></app-comment>
</div>
<div *ngIf="getActiveComments().length===0">
    <p>Aún no hay ningún comentario... ¡Sé el primero!</p>
</div>
<div class="loading" *ngIf="loadingComments===true">Cargando más comentarios
    <app-spinner></app-spinner>
</div>