<ngx-loading-bar></ngx-loading-bar>
<ng-container *ngIf="dataLoaded===true">
<ng-container  *ngIf="securityService.loggedIn()===true">
<app-header></app-header>
<main>
<router-outlet></router-outlet>
    <app-footer></app-footer>
</main>
</ng-container>
</ng-container>
<div class="container" *ngIf="securityService.loggedIn()===false || dataLoaded===false">
    <div>
        <img src="assets/images/logo_web.png" title="Logo de Tveso">
    <ng-container *ngIf="dataLoaded===false">
        <app-loading></app-loading>
    </ng-container>
        <ng-container *ngIf="dataLoaded===true">
            <router-outlet></router-outlet>
        </ng-container>
    </div>
</div>
