<ngx-loading-bar></ngx-loading-bar>
<ng-container *ngIf="dataLoaded===true">
<ng-container  *ngIf="securityService.loggedIn()===true">
<app-header></app-header>
<main>
<router-outlet></router-outlet>
</main>
<app-footer></app-footer>
</ng-container>
<ng-container *ngIf="securityService.loggedIn()===false">
    <div class="logginPanel">
        <h1>TVeso</h1>
    <app-login></app-login>
        <article class="panel">
            ¿Nuevo en TVeso? <a routerLink="register">Create una cuenta</a>
        </article>
    </div>
</ng-container>
</ng-container>