@import "../assets/src/abstracts/abstract";
@import "../assets/src/layouts/grids";
@import "../assets/src/components/components";

main{
  margin-left:3%;
  margin-right:3%;
  box-sizing: border-box;
  min-height: 100vh;
  @include respond-between("phone","tablet"){
    margin-right: 0%;
    margin-left: 0;
    padding: 0;
  }
  margin-bottom: 3%;
  padding-bottom:20px;
  >*{
    box-sizing: border-box;
  }
}


.logginPanel{
  width:25%;
  margin: 5% auto 0;
  h1{
    color:$color_2_base;
    font-weight: normal;
  }
}

.panel{
  @extend .panel;
  margin-top:20px;
  margin-bottom: 20px;
}

.container{
  display: grid;
  color:$color_2_base;
  padding:15px;
  >*{
    margin:auto;
  }
  img{
    width:300px;
    max-width: max-content;
    margin:0 auto;
  }
}