
body{
  padding:0;
  font-family: $font_family;
  margin:0;
  font-size:1.120em;

  background-color: #29323c;
  color: tint($color_1_base,6);
}

ul{
  @extend %nomarginnopadding;
  li{
    list-style: none;
  }
}

button{
  @extend .button;
  outline: none;
  border:0;
}