/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
.grid, .select a {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
.grid, .select a {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

.g-1, .select a i {
  grid-column: span 1; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-1, .select a i {
      grid-column: span 4; } }

.g-2 {
  grid-column: span 2; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-2 {
      grid-column: span 4; } }

.g-3 {
  grid-column: span 3; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-3 {
      grid-column: span 4; } }

.g-4 {
  grid-column: span 4; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-4 {
      grid-column: span 4; } }

.g-5 {
  grid-column: span 5; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-5 {
      grid-column: span 6; } }

.g-6 {
  grid-column: span 6; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-6 {
      grid-column: span 6; } }

.g-7 {
  grid-column: span 7; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-7 {
      grid-column: span 6; } }

.g-8 {
  grid-column: span 8; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-8 {
      grid-column: span 6; } }

.g-9 {
  grid-column: span 9; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-9 {
      grid-column: span 12; } }

.g-10 {
  grid-column: span 10; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-10 {
      grid-column: span 12; } }

.g-11, .select a .first {
  grid-column: span 11; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-11, .select a .first {
      grid-column: span 12; } }

.g-12 {
  grid-column: span 12; }
  @media (min-width: 200px) and (max-width: 991px) {
    .g-12 {
      grid-column: span 12; } }

.button {
  color: inherit; }

.btn-alert {
  background-color: #f76854;
  color: white; }
  .btn-alert:hover {
    background-color: #f76854;
    color: white; }

.btn-grey {
  background-color: gray;
  color: white; }
  .btn-grey:hover {
    background-color: gray;
    color: white; }

.select {
  margin: 10px;
  border-bottom: 2px solid gray;
  background-color: #e7ecee;
  position: relative;
  z-index: 2; }
  .select a {
    color: #1a1a1a;
    padding: 12px; }
  .select .options {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    top: 0; }
    .select .options .option {
      background-color: white;
      padding: 15px;
      display: block;
      color: #1a1a1a; }
      .select .options .option:hover {
        background-color: #e7ecee; }

.table-dinamic thead tr td {
  cursor: pointer; }
.table-dinamic tbody tr {
  transition: 0.15s all ease-in-out; }
  .table-dinamic tbody tr td {
    cursor: pointer; }
  .table-dinamic tbody tr:hover {
    background-color: #e6d7e3; }
.table-dinamic .selected-row {
  background-color: #cdafc7; }
  .table-dinamic .selected-row:hover {
    background-color: #cdafc7; }

.dialog-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.dialog-content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  max-width: 60vw;
  max-height: 100vh;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 15; }

.panel {
  padding: 15px;
  background-color: white;
  border: 1px solid gray; }
  .panel > * {
    box-sizing: border-box; }

form {
  padding: 15px;
  background-color: rgba(255, 255, 255, 0.15);
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  width: 100%;
  height: min-content;
  margin: auto; }

label {
  display: block; }

.input {
  width: 90%;
  box-sizing: border-box; }

button {
  display: block;
  background-color: #0e4453;
  color: white;
  margin: 10px;
  width: 95%; }

.red {
  color: #f6523c;
  font-size: 0.8em; }

img {
  width: 300px;
  max-width: max-content;
  margin: 0 auto; }

.new {
  border-radius: 3px;
  border: 1px solid #d9c3d5;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100%;
  margin: 10px auto auto !important; }
  .new a {
    color: white; }

/*# sourceMappingURL=login.component.css.map */
