@import "../abstracts/abstract";

.grid{
  @extend %gridable;
}


@each $row in 1,2,3,4,5,6,7,8,9,10,11,12{
  .g-#{$row}{
    grid-column: span $row;

  @if $row < 5{
    @include respond-between("phone","tablet"){
      grid-column: span 4;
    }
  }
  @if $row >= 5 and $row < 9{
    @include respond-between("phone","tablet"){
      grid-column: span 6;
    }
  }
  @if $row >= 9 and $row < 13{
    @include respond-between("phone","tablet"){
      grid-column: span 12;
    }
  }
  }
}
