main{
  height: 100vh;
  font-size: 0.9em;
}
article{
  padding:18px;
  @include respond-between('phone', 'tablet') {
    padding:5px;
  }
}
section{
  padding:18px;
  @include respond-between('phone', 'tablet') {
    padding:5px;
  }
}
