@import "../../../../../assets/src/abstracts/abstract";
@import "../../../../../assets/src/layouts/_grids.css";

.buttons{
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-column-gap: 1%;
  grid-row-gap: 1%;
  @include respond-between('phone','tablet'){
    grid-template-columns: 1fr;
  }
    a{
      margin-bottom: 1px;
      background-color: tint($color_4_base,20);
      color: white;
    }
    [data-active=true]{
      background-color: shade($color_4_base,20);
      color: white;
    }
}