<div [class]="'icons ' + orientation">
  <div class="icon"  *ngFor="let type of getTypes()">
    <a [class]="getClass(type)" (click)="follow(type)">
        <div class="maticon">
            <mat-icon>{{type.icon}}</mat-icon>
        </div>
    <div class="title">{{type.show}}</div>
    </a>
    </div>
    <div class="icon" *ngIf="listable">
        <a appAddToListResource="" [resource]="movie">
            <div class="maticon">
                    <mat-icon>list</mat-icon>
            </div>
            <div class="title">
                Lista
            </div>
        </a>
    </div>
</div>