@import "../../../../assets/src/abstracts/abstract";

.tag{
  display: inherit;
  cursor: pointer;
  color:white;
  padding: 4px 6px;
  background-color: #361642;
  font-size:0.75em;
  text-shadow: 1px 1px 1px $color_1_base;
  border-radius: 4px;
  margin-right: 4px;
  box-shadow: box-shadow('medium');
}


.menu {
  background-color: rgba($color_2_base,0.8) !important;
  color: tint($color_1_base,0.8);
  text-shadow: none;
}

.library_add {
  background-color: rgba(tint($color_4_base,0.5),0.8) !important;
}
.hourglass_empty{
  background-color: rgba(tint($color_3_base,0.5),0.8) !important;
}
.done{
  background-color: rgba(shade($color_5_base,0.4),0.8) !important;
}