@import "../../../../assets/src/abstracts/abstract";

.tag{
  display: inherit;
  cursor: pointer;
  color:white;
  padding: 4px 6px;
  background-color: #361642;
  font-size:0.75em;
  text-shadow: 1px 1px 1px $color_1_base;
  border-radius: 4px;
  margin-right: 4px;
}

.icons{
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  .icon{
    margin-right:5px;
    box-sizing: border-box;
    margin-bottom: 3px;
    a{
      display: block;
      cursor: pointer;
      color: $color_2_base;
      border:1px solid rgba($color_2_base, 0.5);
      background-color: rgba($color_1_base, 0.8);
      padding: 4px;
      font-size: 1.1em;
      border-radius: 4pt;
      .title{
        display: block;
        font-size: 0.45em;
        text-align: center;
      }
      .mat-icon{
        margin:0 auto;
        display: block;
        text-align: center;
        cursor: pointer;
        a{
          border:0;
          display: inline;
          padding: 0;
          font-size:1em;
          border-radius: 0;
        }
      }
    }
  }
}
.horizontal{
  display: grid;
  grid-template-columns: min-content min-content min-content min-content;
}
.vertical{
  display: block;
}

.activeMenuitem{
background-color: shade($color_2_base, 5);
  opacity: 1;
}

.default{
  opacity:0.85;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  &:hover{
    opacity: 1;
  }
}

.menu {
  background-color: rgba($color_2_base,0.8) !important;
  color: tint($color_1_base,0.8);
  text-shadow: none;
}

.favorite{
  background-color: rgb(193, 104, 158) !important;
}
.library_add {
  background-color: rgba(tint($color_4_base,0.5),0.8) !important;
}
.arrow_right_alt{
  background-color: rgba(92, 228, 130, 0.8) !important;
}
.hourglass_empty, .pending{
  background-color: rgba(228, 146, 46, 0.8) !important;
}
.remove_red_eye{
  background-color: rgba(shade($color_5_base,0.4),0.8) !important;
}