.shows {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  grid-column-gap: 2%;
  > * {
    box-sizing: border-box;
  }
}

.loadMore {
  display: block;
  margin: 15px auto;
}