@import "../../../../assets/src/abstracts/abstract";

.showsRecommended {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  @include respond-between('phone','tablet'){
    grid-template-columns: 1fr 1fr;
  }
  grid-column-gap: 2%;
  > * {
    box-sizing: border-box;
  }
}

.loadMore {
  display: block;
  margin: 15px auto;
}

.test{
  max-height: 100vh;
  overflow: auto;
}