<section *ngIf="this.person">
    <article class="main">
        <div class="content">
            <article class="sidebar">
                <h1>{{person.name}}</h1>
                <div class="portrait">
                    <app-tmdbimage [image]="this.person.profile_path"></app-tmdbimage>
                </div>
                <h3>Fecha de nacimiento</h3>
                {{person.birthday}} ({{getAge()}} años)
                <h3>Lugar de nacimiento</h3>
                {{person.place_of_birth}}
            </article>
            <article>
                <div *ngIf="person.biography.length>0">
                    <h2>Biografía</h2>
                    <p>{{person.biography}}</p>
                </div>
                <h2>Películas y series</h2>
                <app-items [changeQueryParams]="false" type="movie" [options]="{sort:'year'}" [loadItemsCallback]="callback"
                           [filters]="{showSort:true, years: true, genres: true,
 famous: true, releasedShows: true, tvOrMovie:true}" [extraDataFn]="getMoreInfo.bind(this)"></app-items>
                <app-comment-section [entity]="person" [resource]="person._id" [comments]="person.comments"></app-comment-section>
            </article>
        </div>
    </article>
</section>