<section [style.background-image]="this.poster" *ngIf="this.person">
    <header>
    </header>
    <article class="main">
        <div class="content">
            <article class="sidebar">
                <h1>{{person.name}}</h1>
                <div class="portrait">
                    <app-tmdbimage [image]="this.person.profile_path"></app-tmdbimage>
                </div>
                <h2>Fecha de nacimiento</h2>
                {{person.birthday}}
            </article>
            <article>
                <div *ngIf="person.biography.length>0">
                    <h2>Biografía</h2>
                    <p>{{person.biography}}</p>
                </div>
                <h2>Películas y series</h2>
                <div>
                    <mat-tab-group (selectedTabChange)="changeTab($event.index)">
                        <mat-tab label="Películas" [tabIndex]="'movie'">
                            <h2>Películas</h2>
                            <app-itemlist [type]="'movie'" [(items)]="shows" [method]="nextPage" [loading]="false"
                                          [object]="this" class="items" [noLoadMore]="noMoreData" [firstLoad]="true">
                            </app-itemlist>
                        </mat-tab>
                        <mat-tab label="Series" [tabIndex]="'tvshow'">
                            <h2>Series</h2>
                            <app-itemlist [type]="'movie'" [(items)]="shows" [method]="nextPage" [loading]="false"
                                          [object]="this" class="items" [noLoadMore]="noMoreData" [firstLoad]="true">
                            </app-itemlist>
                        </mat-tab>
                    </mat-tab-group>
                </div>
            </article>
        </div>
    </article>
</section>