<div class="episode" [class]="'episode ' + (isWatched() ? 'episode-watched' : '')"  *ngIf="mode==='explicit'">
    <div class="poster">
        <div class="episode-number">{{getNumericalEpisode()}}</div>
        <img [src]="getBackground()" class="poster"/>
    </div>
    <div class="info">
        <div class="episode-rating"><app-rating [resource]="episode"></app-rating></div>
        <h1>{{episode.name}}</h1>
        <div class="episode-airdate">{{episode.air_date}}</div>
        <p class="episode-description">
            <b *ngIf="episode.overview===null || episode.overview === ''">
                No hay sinopsis del capítulo
            </b>
            {{episode.overview}}
        </p>
        <div class="not-watched" [class]="(isWatched()) ? 'watched' : 'not-watched'">
            <a (click)="watch()" class="pointer">
            <ng-container *ngIf="isWatched()">
                <mat-icon>check_circle</mat-icon>Visto
            </ng-container>
            <ng-container *ngIf="isWatched() === false">
                <mat-icon>check_circle_outline</mat-icon>Marcar como visto
            </ng-container>
            </a>
        </div>
    </div>
</div>
<article *ngIf="mode==='compact'" class="compact">
    <div class="poster">
        <a routerLink='/lol'>
            <app-tmdbimage image="{{episode.season_poster_path}}" [alternative]="episode.show.poster_path"></app-tmdbimage>
        </a>
        <h2>
            <app-rating [resource]="episode"></app-rating>
        </h2>
        <div class="tags">
            <div class="not-watched" [class]="(isWatched()) ? 'watched' : 'not-watched'">
                <a (click)="watch()" class="pointer">
                    <ng-container *ngIf="isWatched()">
                        <mat-icon>check_circle</mat-icon>Visto
                    </ng-container>
                    <ng-container *ngIf="isWatched() === false">
                        <mat-icon>check_circle_outline</mat-icon>Marcar como visto
                    </ng-container>
                </a>
            </div>
        </div>
    </div>

    <div class="episode-show-info"> <a routerLink="{{Movie.getUrl(episode.show)}}">{{episode.show.name}}</a>
        <div class="episode-show-info-episode"> <b>{{getNumericalEpisode()}} -
           {{episode.name}}</b>
            <div>{{episode.air_date}}</div>
            </div>
    </div>
</article>