@import "../../../../assets/src/abstracts/abstract";

.episode{
  padding:0;
  border:1px solid  tint($color_3_base,81);
  display: grid;
  grid-template-columns: min-content 1fr;
  transition: all 0.2s ease-in-out;
  border-radius: 4pt;
  >*{
    box-sizing: border-box;
  }
  >div{
    display: inline-table;
  }
  .info{
    h1{
      font-size:1.2rem;
      margin:5px;
      padding: 0;
    }
    .episode-airdate{
      font-size:0.65em;
      font-weight: normal;
      display: block;
      margin: 5px;
      color: tint($color_1_base, 50);
    }
    p{
      margin: 5px;
      padding: 0;
      max-height: 45px;
      min-height: 45px;
      overflow: hidden;
      font-size: 0.8em;
    }
  }
  &:hover{
    box-shadow: box-shadow('soft');
    opacity:0.9;
  }
  .episode-rating{
    padding: 8px;
    background-color: rgba($color_1_base,0.5);
    margin: 0;
    float:right;
    color: $color_2_base;
    z-index:7;
    width: fit-content;
    font-size: 0.75rem;
    .episode-watched{
      font-size:1rem;
      cursor: pointer;
    }
  }
  .poster{
    width: 180px;
    position: relative;
    .episode-number{
      font-weight: bold;
      display: inline-block;
      z-index:2;
      position: absolute;
      color: $color_2_base;
      left:70px;
      bottom: 3px;
      background-color: rgba($color_1_base, 0.5);
      font-size: 1.2rem;
      padding:5px;
    }
  }
}
.watched{
  @extend .not-watched;
  background-color: rgba($color_5_base,0.4) !important;
  text-shadow: 1px 1px 1px $color_1_base;
  color:$color_2_base!important;
  &:hover{
    background-color: rgba(shade($color_5_base,0.4),0.8) !important;
  }
}

.not-watched{
  float:right;
  background-color: rgba(tint($color_4_base, 75),0.8);
  display: block;
  cursor: pointer;
  padding: 6px 8px;
  font-size:0.75em;
  color: $color_1_base;
  border-radius: 0 0 4pt 0;
  a{
    color:inherit;
  }
  transition: 0.2s all ease-in-out;
  &:hover{
    background-color: rgba(shade($color_5_base,0.4),0.8) !important;
  }
}

.episode-watched {
  opacity: 0.65;
  &:hover{
    opacity: 1;
  }
}

.compact{
  margin-bottom: 10px;
  box-shadow: box-shadow("soft");
  padding: 0;
  box-sizing: border-box;
  background-color:tint($color_1_base,20);
  transition: 0.2s all ease-in-out;
  border-radius: 4px;
  .poster{
    position: relative;
    .not-watched{
      border-radius: 2pt;
    }
  }
  .episode-show-info{
    padding: 5px;
    margin: 0;
    box-sizing: border-box;
    color: $color_2_base;
    font-size: 0.75rem;
    a {
      color: inherit;
    }
    .episode-show-info-episode{

    }
  }
  h2{
    position: absolute;
    padding: 5px;
    background-color: rgba($color_1_base,0.5);
    margin: 0;
    color: $color_2_base;
    top:0;
    width: fit-content;
    right:0;
    font-size: 0.75rem;
  }
  &:hover{
    box-shadow: box-shadow("medium");
  }
  img{
    border-radius: 4px;
  }
  .tags{
    position: absolute;
    bottom:15px;
    left:5px;

  }
  .util{
    position: absolute;
    bottom:15px;
    right:5px;
    opacity: 1;
    transition: all 0.2s ease-in-out;
    .tools{
      cursor: pointer;
      box-shadow: box-shadow('medium');
      background-color: rgba($color_2_base, 1);
      border-radius:50%;
      font-size: 1.5em;
      color: tint($color_1_base, 20);
      z-index: 5;
      transition: all 0.2s ease-in-out;
    }
  }
}