@import "../../../../assets/src/abstracts/abstract";

.menu{
  li{
    display: inline-block;
    box-sizing: border-box;
    width: 15%;
    @include respond-between('phone','tablet'){
      width: 30%;
    }
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    .title{
      position: absolute;
      bottom: 5px;
      font-size: 1em;
      left:0;
      max-width: 100%;
      color: $color_2_base;
      text-shadow: 1px 1px 1px $color_1_base;
      z-index: 3;
    }
  }
}
.episodes{
  display: grid;
  grid-column-gap: 2%;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  @include respond-between('phone','tablet'){
    grid-template-columns: 1fr 1fr;
  }
}