<div class="navbar" [ngClass]="(show === true) ? 'show' : 'hidden'">
  <div class="close" (click)="show=false"><i class="fa fa-close"></i> </div>
      <h1><a routerLink="/"> TVesame</a></h1>
          <ul>
              <li><a routerLink="movies"><i class="fa fa-film"></i>   Películas</a></li>
              <li> <a routerLink="tvshows"><i class="fa fa-television"></i>  Series</a></li>
              <li> <a routerLink="actors"> <i class="fa fa-users"></i>Actores</a></li>
          </ul>
    <div class="searchbox">
        <h2>Buscar</h2>
        <app-searchbox></app-searchbox>
    </div>

</div>
<div class="overlay" (click)="show=false" [hidden]="show!==true"></div>