<section [style.background-image]="getBackground(show)">
    <header>
        <div class="puntuation">
            <app-rating [resource]="show"></app-rating>
            <small>{{utilService.getVoteCount(show)}} votos</small>
        </div>
        <div class="title">
            <a routerLink="/m/{{show._id}}">
                <h1>{{show | moviename}}
                    <small>
                        ({{utilService.getReleaseDate(show)}})
                    </small>
                </h1>
            </a><span class="follow"> <app-follow [movie]="show"></app-follow></span>
            <div class="info">
                {{show.runtime}} min | {{show.release_date}} |
                <app-genre *ngFor="let g of show.genres|slice:0:genreNumbers"
                           [genre]="g" [type]="show.type">
            </app-genre>
                <a *ngIf="genreNumbers<show.genres.length" (click)="genreNumbers=show.genres.length">+</a>

            </div>
        </div>
    </header>
    <article class="main">
        <div class="content">
            <article class="sidebar">
                <h2>Creadores</h2>
                <div class="creators">
                    <div class="creator" *ngFor="let creator of orderCrew(show.credits?.crew)|slice:0:4">
                        <h4>{{creator.name}}</h4>
                        <small>{{getJob(creator)}}</small>
                        <div class="creator-image">
                            <app-tmdbimage image="{{creator.profile_path}}"></app-tmdbimage>
                        </div>
                    </div>
                </div>
                <h2>Película recomendadas</h2>
                <ng-container *ngIf="recommendedShows.length === 0">
                    Cargando películas recomendadas...
                    <div><app-spinner></app-spinner></div>
                </ng-container>
                <app-list-movies-compress [movies]="recommendedShows" [listSize]="6"
                                          [class]="'g-4'"></app-list-movies-compress>
                <h2>Enlaces</h2>
                <a target="_blank" href="https://imdb.com/title/{{show._id}}">
                    <img src="http://icons.iconarchive.com/icons/uiconstock/socialmedia/512/IMDb-icon.png" width="50"/>
                </a>
            </article>
            <article>
                <h2>Sinopsis</h2>
                <p>{{show.overview}}</p>
                <h2 *ngIf="getTrailer(show) !== null">Trailer</h2>
                <!--<app-youtube [id]="getTrailer(m)"></app-youtube>-->
                <app-comment-section [resource]="show._id" [comments]="show.comments"></app-comment-section>
            </article>
        </div>
    </article>
</section>