@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import
"src/abstracts/_abstract.scss";

@import
"src/base/reset",
"src/base/typogragpy",
"src/base/base";

@import
"src/layouts/grids",
"src/layouts/links",
"src/layouts/structure",
"src/layouts/table",
"src/layouts/forms",
"src/layouts/_utils";

@import
"src/components/components";

.dialog{
  min-width: 70%;
  max-height: 100vh;
  max-width: 100%;
  @include respond-between("phone", "tablet"){
    min-width: 100%;
  }
}
.dialog-overlay-black{
  background-color: rgba($color_1_base,0.7);
}

.mat-flat-button{
  background-color: $color_4_base!important;
  color:$color_2_base!important;
}
.mat-tab-links{
  a{
    color:$color_1_base;
    opacity: 1;
    background-color: $color_2_base;
    border-right: 1px solid shade($color_2_base,20);
  }
  .active{
    background-color: $color_2_base!important;
  }
}

.mat-tab-nav-bar{
  border:0;
}

.mat-tab-link{
  white-space: inherit!important;
}

.mat-icon{
  height: auto!important;
  width: auto!important;
}

.material-icons{
  font-size: inherit;;
}

.activeMenuitem{
  background-color: shade($color_2_base, 10);
}
.mat-slide-toggle-content{
  white-space: normal!important;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
background-color: $color_2_base;
  -webkit-box-shadow: 0 0 0 30px rgba(255,255,255,0) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.CodeMirror .CodeMirror-scroll {
  min-height: 100px!important;
  max-height: 250px!important;
}
.CodeMirror{
  min-height: 100px!important;
  max-height: 250px!important;
}
.spoile-icon{
  &:after{
    content:'Spoiler'
  }
}