@import url(~@angular/material/prebuilt-themes/deeppurple-amber.css);
/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
@import url(vendor/normalize.css);
@import url(https://fonts.googleapis.com/css?family=Lato:100,300,900);
.grid, .select a {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

ul {
  margin: 0 !important;
  padding: 0 !important; }

input[type=submit] {
  display: block !important; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD; }
@font-face {
  font-family: 'DragonForcE';
  font-style: normal;
  font-weight: 800;
  src: url("vendor/fonts/dragonforce/DragonForcE.ttf") format("truetype"); }
body {
  padding: 0;
  font-family: "Open Sans", sans-serif;
  margin: 0;
  font-size: 1.120em;
  background-color: #29323c;
  color: #0f0f0f; }

ul li {
  list-style: none; }

button {
  outline: none;
  border: 0; }

/* Black*/
/* white */
/** Ink */
/* Posy */
/* Embers */
/** Media query */
.grid, .select a {
  display: grid;
  grid-template-columns: repeat(12, 1fr); }

ul {
  margin: 0 !important;
  padding: 0 !important; }

input[type=submit] {
  display: block !important; }

.grid {
  grid-column-gap: 2%; }

.g-1, .select a i {
  grid-column: span 1; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-1, .select a i {
      grid-column: span 4; } }

.g-2 {
  grid-column: span 2; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-2 {
      grid-column: span 4; } }

.g-3 {
  grid-column: span 3; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-3 {
      grid-column: span 4; } }

.g-4 {
  grid-column: span 4; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-4 {
      grid-column: span 4; } }

.g-5 {
  grid-column: span 5; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-5 {
      grid-column: span 6; } }

.g-6 {
  grid-column: span 6; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-6 {
      grid-column: span 6; } }

.g-7 {
  grid-column: span 7; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-7 {
      grid-column: span 6; } }

.g-8 {
  grid-column: span 8; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-8 {
      grid-column: span 6; } }

.g-9 {
  grid-column: span 9; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-9 {
      grid-column: span 12; } }

.g-10 {
  grid-column: span 10; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-10 {
      grid-column: span 12; } }

.g-11, .select a .first {
  grid-column: span 11; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-11, .select a .first {
      grid-column: span 12; } }

.g-12 {
  grid-column: span 12; }
  @media (min-width: 200px) and (max-width: 799px) {
    .g-12 {
      grid-column: span 12; } }

a {
  text-decoration: none;
  color: #62858f; }
  a:visited {
    color: #62858f; }
  a:hover {
    color: #9396aa; }

main {
  height: 100vh;
  font-size: 0.9em; }

article {
  padding: 18px; }
  @media (min-width: 200px) and (max-width: 799px) {
    article {
      padding: 5px; } }

section {
  padding: 18px; }
  @media (min-width: 200px) and (max-width: 799px) {
    section {
      padding: 5px; } }

table {
  width: 100%;
  font-size: 0.85em;
  border-collapse: collapse;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); }

thead {
  border-radius: 5px;
  background-color: #656986;
  color: white; }
  thead tr td {
    padding: 15px; }

tbody tr td {
  padding: 25px; }
tbody tr:nth-child(odd) {
  background-color: #f3f6f6; }

form {
  border-radius: 3px;
  border: 1px solid #d1d2db;
  padding: 10px; }

input {
  padding: 12px 12px;
  font-size: 0.8em;
  outline: 0;
  border: 0;
  box-sizing: border-box;
  margin: 10px;
  width: 95%;
  background-color: #e7ecee; }

input[type=search] {
  border-radius: 4px;
  font-size: 0.8em; }

label {
  display: block; }

.button, button, input[type=submit] {
  color: inherit; }

.btn-alert {
  background-color: rgba(248, 118, 101, 0.895);
  color: white; }
  .btn-alert:hover {
    background-color: rgba(248, 118, 101, 0.895);
    color: white; }

.btn-grey {
  background-color: gray;
  color: white; }
  .btn-grey:hover {
    background-color: gray;
    color: white; }

.select {
  margin: 10px;
  border-bottom: 2px solid gray;
  background-color: #e7ecee;
  position: relative;
  z-index: 2; }
  .select a {
    color: #1a1a1a;
    padding: 12px; }
  .select .options {
    border: 1px solid black;
    background-color: white;
    position: absolute;
    left: 0;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    width: 100%;
    top: 0; }
    .select .options .option {
      background-color: white;
      padding: 15px;
      display: block;
      color: #1a1a1a; }
      .select .options .option:hover {
        background-color: #e7ecee; }

.table-dinamic thead tr td {
  cursor: pointer; }
.table-dinamic tbody tr {
  transition: 0.15s all ease-in-out; }
  .table-dinamic tbody tr td {
    cursor: pointer; }
  .table-dinamic tbody tr:hover {
    background-color: #e0e1e7; }
.table-dinamic .selected-row {
  background-color: #c1c3cf; }
  .table-dinamic .selected-row:hover {
    background-color: #c1c3cf; }

.dialog-overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10; }

.dialog-content {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  padding: 15px;
  max-width: 60vw;
  max-height: 100vh;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 15; }

.panel {
  padding: 15px;
  background-color: white;
  border: 1px solid gray; }
  .panel > * {
    box-sizing: border-box; }

.dialog {
  min-width: 70%;
  max-height: 100vh;
  max-width: 100%; }
  @media (min-width: 200px) and (max-width: 799px) {
    .dialog {
      min-width: 100%; } }

.dialog-overlay-black {
  background-color: rgba(0, 0, 0, 0.7); }

.mat-flat-button {
  background-color: #656986 !important;
  color: white !important; }
  .mat-flat-button:disabled {
    background-color: #b3b3b3 !important; }

.mat-tab-links a {
  color: black;
  opacity: 1;
  background-color: white;
  border-right: 1px solid #cccccc; }
.mat-tab-links .active {
  background-color: white !important; }

.mat-tab-nav-bar {
  border: 0; }

.mat-tab-link {
  white-space: inherit !important; }

.mat-icon {
  height: auto !important;
  width: auto !important; }

.material-icons {
  font-size: inherit; }

.activeMenuitem {
  background-color: #e6e6e6; }

.mat-slide-toggle-content {
  white-space: normal !important; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white;
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0) inset;
  transition: background-color 5000s ease-in-out 0s; }

.CodeMirror .CodeMirror-scroll {
  min-height: 100px !important;
  max-height: 250px !important; }

.CodeMirror {
  min-height: 100px !important;
  max-height: 250px !important; }

.spoile-icon:after {
  content: "Spoiler"; }

.showsPerson {
  display: grid;
  grid-template-columns: 1fr  1fr  1fr  1fr  1fr  1fr;
  grid-column-gap: 2%;
  transition: all 0.2s ease-in-out; }
  @media (min-width: 200px) and (max-width: 799px) {
    .showsPerson {
      grid-template-columns: 1fr  1fr; } }
  .showsPerson .show {
    width: 100%;
    display: inline-table;
    height: 150px; }

.items-6 {
  grid-template-columns: 1fr  1fr  1fr  1fr  1fr  1fr;
  grid-column-gap: 2%;
  transition: all 0.2s ease-in-out; }
  @media (min-width: 200px) and (max-width: 799px) {
    .items-6 {
      grid-template-columns: 1fr  1fr; } }

.items-2 {
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2%;
  transition: all 0.2s ease-in-out; }
  @media (min-width: 200px) and (max-width: 799px) {
    .items-2 {
      grid-template-columns: 1fr; } }

.sidebar {
  position: relative;
  color: black;
  font-size: 0.9em;
  background-color: #eef2f3; }
  @media (min-width: 200px) and (max-width: 799px) {
    .sidebar > ul {
      display: grid;
      grid-template-columns: 1fr 1fr; } }
  .sidebar > ul li {
    margin-bottom: 10px; }
  .sidebar h3 {
    font-size: 1.5em;
    margin: 15px; }

/*# sourceMappingURL=style.css.map */
