<article>
  <div class="poster">

  <a routerLink="/{{movie.type}}/{{movie._id}}">
  <app-tmdbimage image="{{movie?.poster_path}}"></app-tmdbimage>
  </a>
    <h2><mat-icon>star</mat-icon> {{utilService.getRating(movie)}} </h2>
    <div class="tags">
     <app-follow [movie]="movie"></app-follow>
    </div>
  <div class="util">
    <button class="tools" [matMenuTriggerFor]="seasonMenu"><mat-icon>add</mat-icon></button>
    <mat-menu #seasonMenu="matMenu">
          <button mat-menu-item>Seguir</button>
        <button mat-menu-item>Recomendar</button>

    </mat-menu>
  </div>
  </div>
  <h1>{{movie|moviename}} <small>({{utilService.getReleaseDate(movie)}})</small></h1>
</article>