
RewriteEngine On
<Files ~ "\.yaml$">
Order Allow,Deny
Deny from All
</Files>
<Files ~ "\.log$">
Order Allow,Deny
Deny from All
</Files>

RewriteCond %{REQUEST_URI} !(\.css|\.js|\.png|\.jpg|\.gif|\.yaml|robots\.txt|\.log|\.map)$ [NC]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.html

